@import './../../shared/variables.scss';

.table-container {
    position: relative;
    overflow-x: auto; 
    max-width: 100%;
    box-shadow: 0px 0px 5px #6d6d6d3d;
    border-radius: 15px;
    
    .css-11xur9t-MuiPaper-root-MuiTableContainer-root {
        box-shadow: none !important;
        .css-rqglhn-MuiTable-root{
            margin-bottom: 65px;
        }
    }

    .table-shadow {
        box-shadow:  0px 0px 9px -1px rgba(0,0,0,0.75);;
    }

    .table {
        overflow-y: auto;
        max-height: 500px; 
        box-shadow: none;
        border-radius: 15px;
        -ms-overflow-style: none;
        scrollbar-width: none;
        width: 100%;
        
        @media (max-width: 768px) {
            min-width: 70vw;
        }

        .table-header {
            .MuiTableCell-root {
                font-weight: bold;
            }

            .table-header-mask {
                width: calc(100% + 30px);
                position: absolute;
                z-index: -1;
                height: 100%;
                background-color: $color8;
                top: 0;
                left: -15px;
                border-radius: 6px;
            }

            width: 100%;
            position: sticky;
            top: 0;
            z-index: 1;

            .table-row {
                position: relative;
            }

            * {
                color: #262626;
            }
        }

        .table-header-blue{
            background-color:$color7;
            * {
                color: #ffffff;
            } 
        }

        .table-row-last {
            border-radius: 15px;
            border: 0px;

            .MuiTableCell-root {
                border-bottom: 0;
            }
        }

        .MuiTableCell-root {
            font-weight: none;
        }

        .table-edit-button {
            color: $color3;
        }
    }

    .table-paginator {
        background-color: #fff;
        right: 0;
        margin-top: 20px;
        bottom: 0;
        position: absolute;
        left: 0;
        border-radius: 0 0px 15px 15px;

        * {
            font-weight: bold;
        }
    }

    
}

.table-cell {
    display: flex !important;
    justify-content: left;
    text-align: left;
    width: 100%;
}
