//Colores primarios
$color1: #F3F8FC;
$color2: #E5F1F9;
$color3: #3d7796;
$color4: #93CBE6;
$color5: #4EABD5;
$color6: #3396C4;
$color7: #2378A6;
$color8: #1E6186; //header
$color9: #1C5370;
$color10: #1D465D;
$color11: #132D3E;
$background-color: #CDE2EE;
//Colores buttons
$buttonDefaultColor: #00ACD8;
$buttonHoverColor: #038AB7;
$buttonActiveColor: #125978;
$buttonDisabledColor:#f0f0f0;
$buttonDisabledBorderColor: #bbbbbb;
//Breakpoint
$minimum: 360px;
$small: 600px;
$medium: 900px;
$large: 1200px;




